body {
    color: white;
    background: black;
    margin: 0px;

}

header {
    border-bottom: solid 2px rgb(87, 63, 145);
    padding: 20px;
    font-size: 32px;
    color: rgb(114, 102, 156);
}

section {
    background: rgb(55, 40, 99);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}